<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <!--You can also do the component scan from XML-->
    <!--<context:component-scan base-package="logic"/>-->

    <bean class="config.AppContext"/>

    <bean class="logic.machine.CoffeeMachine" id="coffeeMachine"/>

    <bean class="logic.machine.CoffeeMachine" id="lactoseFreeCoffeeMachine"/>
</beans>
