<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="logic.dispenser.DispenserV2" id="dispenserImplV2"/>

    <bean class="logic.machine.CoffeeMachine" id="coffeeMachine">
        <constructor-arg ref="dispenserImplV2"/>
    </bean>

    <bean class="logic.machine.CoffeeMachine" id="lactoseFreeCoffeeMachine">
        <property name="dispenser" ref="dispenserImplV2"/>
    </bean>
</beans>
